body {
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background: #326BAB;
}

*, input, button {
  box-sizing: border-box;
  outline: none;
  font-family: Nunito;
}

button:hover {
  cursor: pointer;
}